.menu-items {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    min-width: 223px;
    user-select: none;

    ul {
        list-style: none;
        display: flex;
        cursor: pointer;
        padding: 10px 16px;

        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
    }

    ul li {
        margin-right: 8px;
    }
}

.header {
    cursor: pointer;
}

.back-btn {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: transparent;
}

.back-icon {
    cursor: pointer;
    margin-left: 28px;
    width: 20px;
    height: 20px;
}

.header-title {
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}